@use '../abstracts/variables' as *;

.alert {
    padding: 0.75rem 1rem;
    border-radius: $radius;
    margin-bottom: 1rem;
    font-weight: 500;

    &-error {
        background: $color-error-bg;
        color: $color-error-text;
        border: 1px solid $color-error-border;
    }

    &-warn {
        background: $color-warn-bg;
        color: $color-warn-text;
        border: 1px solid $color-warn-border;
        font-size: 0.9rem;
        text-align: center;
    }
}
